* {
    margin: 0;
}

body {
    height: 100%;
}

.principio {
    position: relative;
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -100px;*/
    border: 1px dotted black;
}
/* ************************* */
.top {
    height: 150px;
    width: 720px;
    margin: 0 auto;
    position: relative;
    border: 1px dotted lightcyan;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.imglogo {
    fill: #000000;
    margin-right: 10px;
}

.imglogo-int {
    stroke: #000000;
}

.cinta {
    position: relative;
    width: 100%;
    min-width: 760px;
    height: 50px;
    background: black;
    display: flex;
    flex-flow: row;
    color: white;
}
/* ************************* */
.contenedor {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.elemento {
    display: none;
}

.pagina {
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 720px;
    border: 2px dotted goldenrod;
    /*display: flex;*/
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.btn-inicia {
    width: 318px;
    height: 114px;
    border-radius: 24px;
    background: lightseagreen;
}

.btn-generi {
    width: 318px;
    height: 68px;
    border-radius: 20px;
    margin: 0px 10px;
}

.ahorcado {
    border: 1px double lightseagreen;
}
/* ************************* */
.footer {
    position: relative;
    width: auto;
    height: auto;
    /*margin: 0 auto -100px;*/
    /*
    opacity: 0.2;
    background-color: black;
    box-shadow: 0 0 10px black;
    */
}

.bottom {
    
    border: 1px dotted black;
    height: 100px;
    display: flex;
    color: black;
    text-decoration: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.visible {
    display: flex !important;
}

.oculta {
    display: none;
}

