* {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.principio {
    position: relative;
    min-height: 100%;
    height: auto;
}
/* ************************* */
.top {
    margin: 0px auto;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(144, 238, 144, 0.9);
}

.imglogo {
    fill: #000000;
    margin-right: 10px;
}

.imglogo-int {
    stroke: #000000;
}
/* ************************* */
.contenedor {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: auto;
    height: auto;
    background: linear-gradient(rgba(144, 238, 144, 0.9),#FFFFFF);
}

#aviso {
    width: 100%;
    height: 100%;
    position:absolute;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(144, 238, 144, 0.8),#FFFFFF);
    justify-content: center;
    z-index: 1;
}

.btn-feliz {
    width: 318px;
    height: 68px;
    border-radius: 20px;
    margin: 0px 10px;
    /*z-index: 2;*/
}

#textoFinal {
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
}

.elemento {
    display: none;
}

.pagina {
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 640px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.btn-inicia {
    width: 318px;
    height: 114px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.btn-inicia:hover {
    background: lightseagreen;
    color: white;
    transform: scale(1.05);
}

.btn-generi {
    width: 318px;
    height: 68px;
    border-radius: 20px;
    margin: 0px 10px;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.btn-generi:hover {
    background: lightseagreen;
    color: white;
    transform: scale(1.05);
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-area {
    width: 460px;
    height: 370px;
    resize: none;
    border: none;
    background: none;
    font-size: 32px;
    margin-top: 30px;
    padding: 10px 10px;
}

.txt-area:focus {
    outline: none;
}

.txt-max {
    font-weight: bold;
    width: 35%;
    text-align: left;
}

.canvasltr {
    margin: 0px 10px;
}

#palabra {
    margin: 30px 0px;
    display: flex;
    height: 92px;
}

#otras-letras {
    font-size: 24px;
}
/* ************************* */
.footer {
    position: relative;
    width: auto;
    height: auto;
    background: linear-gradient(#FFFFFF, rgba(144, 238, 144, 0.9));
}

.txt-footer {
    font-weight: bold;
}

.fa-brands {
    color: #000000;
}

.bottom {
    height: 100px;
    display: flex;
    color: black;
    text-decoration: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.visible {
    display: flex !important;
}

.oculta {
    display: none;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

.fadeIn {
    opacity: 1 !important;
    transition: 0.5s ease-out;
}